%theme {
  background-color: var(--background);
  color: var(--foreground);
}

body #app.theme--light, body.vscode-light #app {
  @extend %theme;
  --background: #fff;
  --foreground: rgba(0, 0, 0, 0.8);
  --alt-background: #F1F1EF;
  --border: rgba(0,0,0,.25);
  --alt-border: rgba(0,0,0,.2);
  --red: #A71D5D;
  --blue: #183691;
  --green: #63a35c;
  --grey: #969896;
  --brown: #75715E;
  --orange: #df5000;
  --purple: #795da3;
  --light-blue: #445588;
}
body #app.theme--dark, body.vscode-dark #app, body.vscode-high-contrast #app {
  @extend %theme;
  --background: #282c34;
  --alt-background: #2f333d;
  --border: rgba(255,255,255,.15);
  --alt-border: rgba(255, 255, 255, 0.25);
  --foreground: #abb2bf;
  --red: #e06c75;
  --dark-red: #be5046;
  --green: #98c379;
  --blue: #61afef;
  --light-blue: #56b6c2;
  --purple: #c678dd;
  --orange: #d19a66;
  --brown: #75715E;
  --grey: #5c6370;
}

body.vscode-light #app, body.vscode-dark #app, body.vscode-high-contrast #app {
  --background: var(--vscode-editor-background);
  --foreground: var(--vscode-editor-foreground);
  --alt-background: var(--vscode-editor-selectionBackground);
  --red: var(--vscode-terminal-ansiBrightRed);
  --dark-red: var(--vscode-terminal-ansiRed);
  --green: var(--vscode-terminal-ansiBrightGreen);
  --blue: var(--vscode-terminal-ansiBrightBlue);
  --light-blue: var(--vscode-terminal-ansiBrightCyan);
  --purple: var(--vscode-terminal-ansiBrightMagenta);
  --orange: var(--vscode-terminal-ansiBrightYellow);
  --brown: var(--vscode-terminal-ansiYellow);
  --grey: var(--vscode-terminal-ansiBrightBlack);
}
